{{ define "boundless-ui/archive.tmpl" }}
    <!DOCTYPE html>
    <html lang="zh-cmn-Hans">
    <head>
        {{ template "boundless-ui/head" . }}
        <link rel="stylesheet"
              href="{{ .blogVars.StaticRootPath }}/resources/themes/{{ .blogVars.Theme }}/static/css/archive.css">
    </head>
    <body>
    {{ template "boundless-ui/nav" . }}

    <main class="big-container">
        <article class="article">
            <ul class="achieve-box">
                {{ range $archive := .archives }}
                    <li class="year">
                        {{ $archive.Year }} 年 {{ $archive.Month }} 月
                        <span style="color: #3aa4ff">{{ $archive.Count }}</span> 篇
                    </li>
                    {{ range $article := $.articles }}
                        {{ if eq (year $article.CreatedAt) $archive.Year }}
                            {{ if eq (month $article.CreatedAt) $archive.Month }}
                                <li class="detail-item">
                                    <span class="date">{{ $article.CreatedAt.Format "01-02" }}</span>
                                    <a href="{{ $.blogVars.ContextPath }}/articles/{{ $article.URL }}"
                                       class="title">{{ $article.Title }}</a>
                                </li>
                            {{ end }}
                        {{ end }}
                    {{ end }}
                {{ end }}
            </ul>
        </article>
    </main>

    {{ template "boundless-ui/footer" . }}

    {{ template "boundless-ui/script" . }}
    </body>
    </html>
{{ end }}