{{ define "boundless-ui/category.tmpl" }}
    <!DOCTYPE html>
    <html lang="zh-cmn-Hans">
    <head>
        {{ template "boundless-ui/head" . }}
        <link rel="stylesheet"
              href="{{ .blogVars.ContextPath }}/resources/themes/{{ .blogVars.Theme }}/static/css/myPagination.css">
        <link rel="stylesheet"
              href="{{ .blogVars.ContextPath }}/resources/themes/{{ .blogVars.Theme }}/static/css/index.css">
    </head>
    <body>
    <!--PC导航栏-->
    <nav class="nav-bar-holder">
        <div class="nav-bar" id="nav-bar">
            <div class="logo-box">
                <a href="{{ .blogVars.ContextPath }}" class="blog-title ta-c">
                    <img style="vertical-align: top;" alt="logo" src="{{ .blogVars.SiteLogo }}"/>
                </a>
            </div>
            <div class="nb-a-holder" id="home">
                <a class="nb-a ta-c" href="{{ .blogVars.ContextPath }}">首页</a>
            </div>
            <div class="nb-a-holder"><a id="active" class="nb-a ta-c"
                                        href="{{ .blogVars.ContextPath }}/categories">分类</a></div>
            <div class="nb-a-holder"><a class="nb-a ta-c" href="{{ .blogVars.ContextPath }}/tags">标签墙</a></div>
            <div class="nb-a-holder"><a class="nb-a ta-c" href="{{ .blogVars.ContextPath }}/archives">归档</a></div>
            <div class="nb-a-holder"><a class="nb-a ta-c" href="{{ .blogVars.ContextPath }}/links">友情链接</a></div>
            <!--搜索框-->
            <div id="search-nb">
                <span class="search-s fl">
                    <label for="search-input"></label>
                    <input class="fl" type="text" id="search-input" placeholder="请输入关键字">
                    <a class="search-icon fl" onclick="search_by_key()" href="javascript:void(0);"></a>
                </span>
            </div>
            {{/*                <div class="nb-a-holder-last">
                    <div class="nb-a-holder-small">
                        <a class="a-login" href="login.html">登录</a>
                    </div>
                    <div class="nb-a-holder-small">
                        <a class="a-login" href="register.html">注册</a>
                    </div>
                </div>*/}}
        </div>
    </nav>
    <!--mobile导航栏-->
    <nav class="mobile-nav">
        <div class="logo-box">
            <a href="{{ .blogVars.ContextPath }}" class="blog-title ta-c">
                <img style="vertical-align: top;" alt="logo"
                     src="{{ .blogVars.SiteLogo }}"/></a>
        </div>
        <a id="mobile_cate"
           style="background-image: url('{{ .blogVars.ContextPath }}/resources/themes/{{ .blogVars.Theme }}/static/img/cate.svg')"
           href="javascript:void(0);"></a>
    </nav>
    <ul id="nav-m-list">
        <li id="cancel-li"><a class="fr" id="cancel" href="javascript:void(0);"></a></li>
        <li id="m-img-li">
            <img id="m-img" alt="{{ .blogVars.SiteName }}" src="{{ .blogVars.SiteLogo }}">
        </li>
        <li>
            <span class="search-s fl">
                <label for="search-input-m"></label><input class="fl" type="text" id="search-input-m" placeholder="关键词">
                <a class="search-icon fl" onclick="m_search()" href="javascript:void(0);"></a>
            </span>
        </li>
        <li><a class="w-h-100 fl" href="{{ .blogVars.ContextPath }}">首页</a></li>
        <li><a class="w-h-100 fl" href="{{ .blogVars.ContextPath }}/categories">分类</a></li>
        <li><a class="w-h-100 fl" href="{{ .blogVars.ContextPath }}/tags">标签墙</a></li>
        <li><a class="w-h-100 fl" href="{{ .blogVars.ContextPath }}/archives">归档</a></li>
        <li><a class="w-h-100 fl" href="{{ .blogVars.ContextPath }}/links">友情链接</a></li>
    </ul>
    {{/*    <div id="d-audio" class="d-audio"*/}}
    {{/*         style="width: 150px; z-index: 99; position: fixed; bottom: 5px; left: 5px;"></div>*/}}

    <!--主体-->
    <div class="big-container">
        <article class="article">
            <!--右容器-->
            <div class="right-holder">
                <div class="column-container">
                    <ul class="column_box" id="like-box">
                        <li class="column-title">
                        <span class="at-sort b-b-ece fl">
                            <a class="at-sort-comment-a c-666 fl">分类</a>
                        </span>
                        </li>
                        {{ range $category := .categories }}
                            <li class="column-category">
                                <a href="{{ $.blogVars.ContextPath }}/categories/{{ $category.Url }}">
                                    {{ $category.Name }}&nbsp;&nbsp;{{ $category.Count }}&nbsp;篇
                                </a>
                            </li>
                        {{ end }}
                    </ul>
                </div>

            </div>

            <!--左容器-->
            <div class="result-box fl">
                <!--文章内容-->
                <div id="article-holder" style="width: 100%; float: left">
                    {{ range $article := .articles  }}
                        <div class="article-box">
                            <div class="ab-content">
                                <a href="{{ $.blogVars.ContextPath }}/articles/{{ $article.URL }}"
                                   class="article-img-box">
                                    <img class="lazy-image article-img"
                                         data-src="{{ $article.Img }}" alt="" src="">
                                </a>
                                <div class="article-title">
                                    <a href="{{ $.blogVars.ContextPath }}/articles/{{ $article.URL }}">{{ $article.Title }}</a>
                                </div>
                                <div class="article-cate">
                                    {{ range $tag := $article.TagList }}
                                        <a href="{{ $.blogVars.ContextPath }}/tags/{{ $tag.Name }}">{{ $tag.Name }}</a>
                                    {{ end }}
                                </div>
                                <div class="article-detail-box c-666">{{ $article.Summary }}</div>
                                <span class="article-tail-box">
                                    <i class="fl"
                                       style="background-image: url('{{ $.blogVars.ContextPath }}/static/img/read-index.svg')"></i>
                                    <span class="read-number c-999 fl">{{ $article.VisitCount }}</span>
                                    <i class="fl"
                                       style="background-image: url('{{ $.blogVars.ContextPath }}/static/img/comment-index.svg')"></i>
                                    <span class="comment-number c-999 fl">{{ $article.CommentCount }}</span>
                                    <span class="article-date c-999">{{ $article.CreatedAt.Format "2006-01-02" }}</span>
                                    <span class="article-author one-line-overflow c-999">{{ $article.User.Username }}</span>
                                </span>
                            </div>
                        </div>
                    {{ end }}
                </div>

                <!--分页指示器-->
                <div id="pagination" class="pagination fl">
                    <ul>
                        <li class="disabled">首页</li>
                        <li class="disabled">&lt;</li>
                        <li class="active">1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>&gt;</li>
                        <li>尾页</li>
                    </ul>
                </div>
            </div>

        </article>
    </div>

    {{ template "boundless-ui/footer" . }}

    {{ template "boundless-ui/script" . }}

    <script type="text/javascript">
        // 分页
        const pagination = new myPagination({
            id: 'pagination',
            curPage: {{ .currentPage }}, // 初始页码
            pageTotal: {{ .totalPages }}, // 总页数
            pageAmount: {{ .pageSize }}, // 每页多少条
            dataTotal: {{ .totalCount }}, // 总共多少条数据
            pageSize: 3, // 可选,分页个数
            //showPageTotalFlag: true, // 是否显示数据统计
            //showSkipInputFlag: true, // 是否支持跳转
            getPage: function (page) {
                {{ if .categoryUrl }}
                location.href = "{{ .blogVars.ContextPath }}/categories/{{ .categoryUrl }}/p/" + page;
                {{ else }}
                location.href = "{{ .blogVars.ContextPath }}/category/p/" + page;
                {{ end }}
            }
        });
    </script>
    </body>
    </html>
{{ end }}