{{ define "boundless-ui/index.tmpl" }}
    <!DOCTYPE html>
    <html lang="zh-cmn-Hans">
    <head>
        {{ template "boundless-ui/head" . }}
        <link rel="stylesheet"
              href="{{ .blogVars.StaticRootPath }}/resources/themes/{{ .blogVars.Theme }}/static/css/myPagination.css">
        <link rel="stylesheet"
              href="{{ .blogVars.StaticRootPath }}/resources/themes/{{ .blogVars.Theme }}/static/css/index.css">
    </head>
    <body>
    {{ template "boundless-ui/nav" . }}

    <!--主体-->
    <div class="big-container" id="particles-js">
        <article class="article">
            <!--左容器-->
            <div class="left-holder">
                <!--文章内容-->
                <div id="article-holder" style="width: 100%; float: left">
                    {{ range $article := .articles  }}
                        <div class="article-box">
                            <div class="ab-content">
                                <a href="{{ $.blogVars.ContextPath }}/articles/{{ $article.URL }}"
                                   class="article-img-box">
                                    <img class="lazy-image article-img"
                                         data-src="{{ $article.Img }}" alt="" src="">
                                </a>
                                <div class="article-title">
                                    <a href="{{ $.blogVars.ContextPath }}/articles/{{ $article.URL }}">{{ $article.Title }}</a>
                                </div>
                                <div class="article-cate">
                                    {{ range $tag := $article.TagList }}
                                        <a href="{{ $.blogVars.ContextPath }}/tags/{{ $tag.Name }}">{{ $tag.Name }}</a>
                                    {{ end }}
                                </div>
                                <div class="article-detail-box c-666">{{ $article.Summary }}</div>
                                <span class="article-tail-box">
                                    <i class="fl"
                                       style="background-image: url('{{ $.blogVars.StaticRootPath }}/resources/themes/{{ $.blogVars.Theme }}/static/img/read-index.svg')"></i>
                                    <span class="read-number c-999 fl">{{ $article.VisitCount }}</span>
                                    <i class="fl"
                                       style="background-image: url('{{ $.blogVars.StaticRootPath }}/resources/themes/{{ $.blogVars.Theme }}/static/img/comment-index.svg')"></i>
                                    <span class="comment-number c-999 fl">{{ $article.CommentCount }}</span>
                                    <span class="article-date c-999">{{ $article.CreatedAt.Format "2006-01-02" }}</span>
                                    <span class="article-author one-line-overflow c-999">{{ $article.User.Username }}</span>
                                </span>
                            </div>
                        </div>
                    {{ end }}
                </div>
                <!--分页指示器-->
                <div id="pagination" class="pagination fl"></div>
            </div>

            <!--右容器-->
            {{/*            <div class="right-holder">
                <!--个人介绍-->
                <div class="column-container">
                    <ul class="column_box" id="like-box">
                        <li class="column-title">
                            <span class="at-sort b-b-ece fl">
                                <a class="at-sort-comment-a c-666 fl">个人介绍</a>
                            </span>
                        </li>
                        <li class="person-img-li">
                            <img alt="头像" id="person-img"
                                 src="">
                        </li>
                        <li class="person-intro-detail gradient-text">
                            <h1>欢迎光临我的博客</h1>
                        </li>
                        <li class="person-intro-detail">
                            <h3>网站简介：基于 Go + Vue 的极简主义博客</h3>
                        </li>
                        <li class="person-intro-detail">
                            <h3>所在地：上海</h3>
                        </li>
                        <li class="person-intro-detail">
                            <h3>爱好：编程，音乐</h3>
                        </li>
                        <li class="person-intro-detail">
                            <h3>网站环境：Docker + Go + Mysql + Vue</h3>
                        </li>
                    </ul>
                </div>
                <!--猜你喜欢-->
                <div class="column-container">
                    <ul class="column_box" id="like-box">
                        <li class="column-title">
                            <span class="at-sort b-b-ece fl"><a class="at-sort-comment-a c-666 fl">猜你喜欢</a></span>
                        </li>
                        <li class="column-category">
                            <a href="article.html">栈和队列</a>
                        </li>
                        <li class="column-category">
                            <a href="article.html">栈和队列</a>
                        </li>
                        <li class="column-category">
                            <a href="article.html">栈和队列</a>
                        </li>
                        <li class="column-category">
                            <a href="article.html">栈和队列</a>
                        </li>
                        <li class="column-category">
                            <a href="article.html">栈和队列</a>
                        </li>
                        <li class="column-category">
                            <a href="article.html">栈和队列</a>
                        </li>
                    </ul>
                </div>
                <!--点击排行-->
                <div class="column-container">
                    <ul class="column_box" id="like-box">
                        <li class="column-title">
                    <span class="at-sort b-b-ece fl">
                        <a class="at-sort-comment-a c-666 fl">点击排行</a>
                    </span>
                        </li>
                        <li class="column-category">
                            <a href="article.html">极简的个人博客模板，支持响应式布局</a>
                        </li>
                        <li class="column-category">
                            <a href="article.html">极简的个人博客模板，支持响应式布局</a>
                        </li>
                        <li class="column-category">
                            <a href="article.html">极简的个人博客模板，支持响应式布局</a>
                        </li>
                        <li class="column-category">
                            <a href="article.html">极简的个人博客模板，支持响应式布局</a>
                        </li>
                        <li class="column-category">
                            <a href="article.html">极简的个人博客模板，支持响应式布局</a>
                        </li>
                        <li class="column-category">
                            <a href="article.html">极简的个人博客模板，支持响应式布局</a>
                        </li>
                        <li class="column-category">
                            <a href="article.html">极简的个人博客模板，支持响应式布局</a>
                        </li>
                        <li class="column-category">
                            <a href="article.html">极简的个人博客模板，支持响应式布局</a>
                        </li>
                    </ul>
                </div>
            </div>*/}}
        </article>
    </div>

    {{ template "boundless-ui/footer" . }}

    {{ template "boundless-ui/script" . }}

    <script type="text/javascript">
        // 分页
        const pagination = new myPagination({
            id: 'pagination',
            curPage: {{ .currentPage }}, // 初始页码
            pageTotal: {{ .totalPages }}, // 总页数
            pageAmount: {{ .pageSize }}, // 每页多少条
            dataTotal: {{ .totalCount }}, // 总共多少条数据
            pageSize: 3, // 可选,分页个数
            //showPageTotalFlag: true, // 是否显示数据统计
            //showSkipInputFlag: true, // 是否支持跳转
            getPage: function (page) {
                location.href = "{{ .blogVars.ContextPath }}/p/" + page;
            }
        });
    </script>
    </body>
    </html>
{{ end }}