{{ define "xue/script" }}
    <script src="https://npm.elemecdn.com/jquery@3.2.1/dist/jquery.min.js"></script>
    <script src="https://npm.elemecdn.com/marked@4.0.3/marked.min.js"></script>
    <script src="https://npm.elemecdn.com/viewerjs@1.6.0/dist/viewer.min.js"></script>
    <script src="{{ .blogVars.StaticRootPath }}/resources/themes/{{ .blogVars.Theme }}/static/js/highlight.min.js"></script>
    <script src="https://npm.elemecdn.com/highlightjs-line-numbers.js@2.8.0/dist/highlightjs-line-numbers.min.js"></script>
    <script src="https://npm.elemecdn.com/highlightjs-copy@1.0.3/dist/highlightjs-copy.min.js"></script>
    <script src="https://npm.elemecdn.com/tocbot@4.11.2/dist/tocbot.min.js"></script>
    <script src="https://npm.elemecdn.com/isotope-layout@3.0.6/dist/isotope.pkgd.min.js"></script>
    <script src="{{ .blogVars.StaticRootPath }}/resources/themes/{{ .blogVars.Theme }}/static/js/moon.js"></script>
    <script src="{{ .blogVars.StaticRootPath }}/resources/themes/{{ .blogVars.Theme }}/static/js/simply-nav.js"></script>
    <script type="text/javascript">
        let openKatex = true;
        const katex_config = {
            delimiters: [
                {left: "$$", right: "$$", display: true},
                {left: "$", right: "$", display: false},
            ]
        };

        // 是否开启代码高亮
        let enableCodeHighlight = true;
        // 是否开启行号
        let enableLineNumber = false;
        let collpaseCode = false;
        // 黑夜模式
        let autoNightMode = true;
        // 默认收缩菜单
        let hideMenu = true;

        function renderTagCloud() {
            // 标签云
            let tagCloud = $("#tagCloud");
            if (!(tagCloud && tagCloud.children().length === 0)) {
                return;
            }
            // 标签
            let tagArray = [
                {{ range $i, $tag := .tags }}
                {
                    'text': '{{ $tag.Name }}',
                    'weight': '{{ add $i 1 }}',
                    'link': '{{ $.blogVars.ContextPath }}/tags/{{ $tag.Name }}'
                },
                {{ end }}
            ];

            // 标签云
            tagCloud.jQCloud(tagArray, {autoResize: true, delayedMode: true});
        }

        function renderCategoryCloud() {
            // 分类云
            let categoryCloud = $("#categoryCloud");
            if (!(categoryCloud && categoryCloud.children().length === 0)) {
                return;
            }
            // 分类
            let array = [
                {{ range $i, $category := .categories }}
                {
                    'text': '{{ $category.Name }}',
                    'weight': '{{ add $i 1 }}',
                    'link': '{{ $.blogVars.ContextPath }}/categories/{{ $category.Url }}'
                },
                {{ end }}
            ];

            categoryCloud.jQCloud(array, {autoResize: true, delayedMode: true});
        }
    </script>

    <script src="{{ .blogVars.StaticRootPath }}/resources/themes/{{ .blogVars.Theme }}/static/js/main.js"></script>

    {{/* <script src="https://npm.elemecdn.com/aplayer@1.10.1/dist/APlayer.min.js"></script>
    <script src="https://npm.elemecdn.com/meting@2.0.1/dist/Meting.min.js"></script> */}}

    <script defer src="https://npm.elemecdn.com/katex@0.12.0/dist/katex.min.js"
            crossorigin="anonymous"></script>
    <script defer src="https://npm.elemecdn.com/katex@0.12.0/dist/contrib/auto-render.min.js"
            crossorigin="anonymous"></script>

    <script type="text/javascript">
        console.clear();
        console.log("%c Github %c", "background:#24272A; color:#ffffff", "", "https://github.com/zhaoyangkun/aries");
    </script>

    <script type="text/javascript">
        const loading = "{{ .blogVars.StaticRootPath }}/resources/themes/{{ .blogVars.Theme }}/static/img/loading.svg";
    </script>

    {{/*    <script type="text/javascript">
        // 建站时间统计
        function show_date_time() {
            if ($("#span_dt_dt").length > 0) {
                BirthDay = new Date("01/06/2020 12:00:00");
                today = new Date();
                timeold = (today.getTime() - BirthDay.getTime());
                sectimeold = timeold / 1000;
                secondsold = Math.floor(sectimeold);
                msPerDay = 24 * 60 * 60 * 1000;
                e_daysold = timeold / msPerDay;
                daysold = Math.floor(e_daysold);
                e_hrsold = (e_daysold - daysold) * 24;
                hrsold = Math.floor(e_hrsold);
                e_minsold = (e_hrsold - hrsold) * 60;
                minsold = Math.floor((e_hrsold - hrsold) * 60);
                seconds = Math.floor((e_minsold - minsold) * 60);
                span_dt_dt.innerHTML = daysold + "天" + hrsold + "小时" + minsold + "分" + seconds + "秒";
            }
        }

        show_date_time();
    </script>*/}}

    <script src="https://npm.elemecdn.com/jquery-pjax@2.0.1/jquery.pjax.js"></script>
    <script src="https://npm.elemecdn.com/nprogress@0.2.0/nprogress.js"></script>
    <script type="text/javascript">
        $(document).pjax('a[href]:not([href^="#"]):not([data-not-pjax]):not([target^="_blank"]), form',
            '#container', {fragment: '#container', timeout: 8000});
        $(document).on('pjax:send', function () {
            NProgress.start();
        })

        $(document).on('pjax:complete', function () {
            NProgress.done();

            checkNightMode();

            // 自动切换夜间模式
            if (autoNightMode) {
                autoDayNight();
            }

            // 删除 listener
            removeScrollTocFixed();

            // 处理导航菜单
            handleNavMenu();

            // 代码高亮
            hljsCode();

            // 代码行号
            loadCodeLineNumber();

            // 渲染图片
            renderImg();

            // 渲染公式
            renderMath();

            // 处理目录
            dealContentToc();

            // 加载相册
            loadGallery();

            // 图片懒加载
            lazyloadImg();

            if ($('#container').find('.jqcloud').length > 0) {
                if (typeof $.fn.jQCloud !== 'function') {
                    $.getScript(
                        '{{ .blogVars.StaticRootPath }}/resources/themes/{{ .blogVars.Theme }}/static/js/jqcloud.min.js',
                        function () {
                            renderTagCloud();
                            renderCategoryCloud();
                        })
                } else {
                    renderTagCloud();
                    renderCategoryCloud();
                }
            }
        });

        $(document).on('pjax:error', function () {
            NProgress.done();
        });
    </script>
{{ end }}