<!DOCTYPE html>
<html lang="zh-cmn-Hans">
{{ template "head" . }}
<body>

{{ template "menu" . }}

<main class="mx-auto home-page" id="container">
    <header class="bg-cover post-cover" id="postHeader">
        <div class="cover-bg">
            <img src="https://s1.ax1x.com/2020/06/29/NWtFJA.jpg"
                 class="z-auto" alt="{{ .page.Title }}">
        </div>
        <div class="cover-content post-cover-content flex justify-center">
            <!-- 封面内容 -->
            <div class="inner flex flex-col justify-center">
                <p class="post-title cover-title text-base lg:text-4xl xl:text-5xl md:text-3xl">{{ .page.Title }}</p>
            </div>
        </div>
    </header>

    <div class="container mx-auto md-content px-4 mt-16 max-w-6xl tracking-wider md:leading-relaxed sm:leading-normal ct-container cn-pd content-container"
         id="write">
        {{ safe .page.MDHtml }}
    </div>
</main>

{{ template "comment" .}}

{{ template "footer" . }}

{{ template "script" . }}
</body>
</html>
