<!DOCTYPE html>
<html lang="zh-cmn-Hans">
{{ template "head" . }}
<body>
{{ template "menu" . }}

<main class="mx-auto home-page" id="container">
    <header class="bg-cover post-cover">
        <div class="cover-bg">
            <img src="https://cdn.jsdelivr.net/gh/keepli/image@2.0/header/2.0/header-5.jpg" class="z-auto" alt="留言板">
        </div>
        <div class="cover-content flex justify-center">
            <!-- 封面内容 -->
            <div class="inner flex flex-col justify-center">
                <p class="cover-title text-base md:text-4xl lg:text-4xl xl:text-5xl">{{ .page.Title }}</p>
            </div>
        </div>
    </header>

    <div class="container mx-auto md-content px-4 mt-16 max-w-6xl tracking-wider md:leading-relaxed sm:leading-normal ct-container cn-pd content-container"
         id="write">
        {{ safe .page.MDHtml }}
    </div>

    {{ template "comment" . }}
</main>

{{ template "footer" . }}

{{ template "script" . }}
</body>
</html>
