<!DOCTYPE html>
<html lang="zh-cmn-Hans">
{{ template "head" . }}
<body>

{{ template "menu" . }}

<main class="mx-auto home-page" id="container">
    <header class="bg-cover post-cover" id="postHeader">
        <div class="cover-bg">
            <img src="https://s1.ax1x.com/2020/06/29/NWtFJA.jpg"
                 class="z-auto" alt="相遇在人海，聚散在重逢之外">
        </div>
        <div class="cover-content post-cover-content flex justify-center">
            <!-- 封面内容 -->
            <div class="inner flex flex-col justify-center">
                <p class="post-title cover-title text-base lg:text-4xl xl:text-5xl md:text-3xl">
                <p class="post-title cover-title text-base lg:text-4xl xl:text-5xl md:text-3xl">{{ .subTitle }}</p>
            </div>
        </div>
    </header>

    <div class="container mx-auto px-4 mt-16 max-w-6xl tracking-wider md:leading-relaxed sm:leading-normal ct-container cn-pd content-container">
        <h2>标签</h2>
        <p class="flex flex-row justify-start flex-wrap">
            {{ range $tag := .tags }}
                <a href="{{ $.blogVars.ContextPath }}/tags/{{ $tag.Name }}"
                   class="post-tag mt-2 mb-2 mr-2">{{ $tag.Name }}
                    <span class="tag-length">{{ $tag.Count }}</span>
                </a>
            {{ end }}
        </p>
        <h2 style="margin-bottom: 0;">标签云</h2>
        <div id="tagCloud" class="card-content jqcloud jqcloud-hg"></div>
    </div>
</main>

{{ template "footer" . }}

{{ template "script" . }}
</body>
</html>
