<!DOCTYPE HTML>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <link rel='dns-prefetch' href="https://cdn.jsdelivr.net"/>

    <link rel="shortcut icon"
          href="https://cdn.jsdelivr.net/gh/Zisbusy/Jsdelivr-CDN@master/Akina/3.4.3/usr/themes/Akina/images/favicon.ico">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/gh/Zisbusy/Jsdelivr-CDN@master/Akina/3.4.3/usr/themes/Akina/css/style.css"
          type="text/css"/>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/gh/Zisbusy/Jsdelivr-CDN@master/Akina/3.4.3/usr/themes/Akina/css/OwO.css"
          type="text/css"/>
    <style type="text/css">
        @media (max-width: 1080px) {
            #centerbg {
                display: none
            }
        }

        .wedonate img {
            margin-right: 10px
        }

        .cd-top {
            background: url(https://cdn.jsdelivr.net/gh/Zisbusy/Jsdelivr-CDN@master/Akina/3.4.3/usr/themes/Akina/images/gotop.png) no-repeat center 50%
        }
    </style>
</head>
<body class="home blog hfeed">
<!-- 加载动画 -->
<div id="preloader">
    <div id="preloader-inner"></div>
</div>
<section id="main-container">
    <div class="openNav">
        <div class="iconflat">
            <div class="icon"></div>
        </div>
        <!-- logo则显示 -->
        <div class="site-branding">
            <div class="site-title"><a href="https://zhebk.cn/"><img
                            src="https://cdn.jsdelivr.net/gh/Zisbusy/Jsdelivr-CDN@master/Akina/3.4.3/usr/themes/Akina/images/akina.png"></a>
            </div>
        </div>
        <!-- logo 结束 -->
    </div>
    <!-- 主页面显示 -->
    <div id="page" class="site wrapper">
        <header class="site-header" role="banner">
            <div class="site-top">
                <!-- logo则显示 -->
                <div class="site-branding">
                    <div class="site-title"><a href="https://zhebk.cn/"><img
                                    src="https://cdn.jsdelivr.net/gh/Zisbusy/Jsdelivr-CDN@master/Akina/3.4.3/usr/themes/Akina/images/akina.png"></a>
                    </div>
                </div>
                <!-- logo 结束 -->
                <div id="login-reg">
                    <!-- 个人头像 -->
                    <!-- 如果用户未登录 -->
                    <div class="ex-login">
                        <a href="https://zhebk.cn/admin/" target="_top">
                            <i class="iconfont">&#xe615;</i>
                        </a>
                    </div>
                </div>
                <!-- 搜索 -->
                <div class="searchbox">
                    <i class="iconfont js-toggle-search iconsearch">&#xe6f0;</i>
                </div>
                <!-- 分类 -->
                <div class="lower">
                    <nav>
                        <ul id="nav_menu" class="menu">
                            <li class="current-menu-item"><a href="/">首页</a></li>
                            <li><a href="#">分类</a>
                                <ul class="sub-menu">
                                    <li><a href="https://zhebk.cn/category/Android/">Android</a></li>
                                    <li><a href="https://zhebk.cn/category/Z-Turn/">Z-Turn</a></li>
                                    <li><a href="https://zhebk.cn/category/Web/">Web</a></li>
                                    <li><a href="https://zhebk.cn/category/Life/">Life</a></li>
                                </ul>
                            </li>
                            <li><a href="#">更多</a>
                                <ul class="sub-menu">
                                    <li><a href="https://zhebk.cn/archives.html">文章归档</a></li>
                                    <li><a href="https://zhebk.cn/about.html">关于</a></li>
                                    <li><a href="https://zhebk.cn/message.html">留言</a></li>
                                    <li><a href="https://zhebk.cn/links.html">邻居</a></li>
                                </ul>
                            </li>
                        </ul>
                        <!-- 隐藏后菜单图标 -->
                        <i class="iconfont show-nav">&#xe613;</i>
                    </nav>
                </div>
            </div>
            <!-- 到顶部按钮 -->
            <div class="cd-top-box">
                <a href="#" class="cd-top"></a>
            </div>
        </header>
        <div class="blank"></div>
        <div class="headertop">
            <!-- 首页大图 -->
            <div id="centerbg"
                 style="background-image: url(https://cdn.jsdelivr.net/gh/Zisbusy/Jsdelivr-CDN@master/Akina/3.4.3/usr/themes/Akina/images/headerbg.jpg);">
                <!-- 左右倾斜 -->
                <div class="slant-left"></div>
                <div class="slant-right"></div>
                <!-- 博主信息 -->
                <div class="focusinfo">
                    <!-- 头像 -->
                    <div class="header-tou">
                        <a href="https://zhebk.cn/"><img
                                    src="https://cdn.jsdelivr.net/gh/Zisbusy/Jsdelivr-CDN@master/img/akinadeaava.jpg"></a>
                    </div>
                    <!-- 简介 -->
                    <div class="header-info">
                        <p>站在巨人的肩膀上，我们渺小到不可一世。</p>
                    </div>
                    <!-- 社交信息 -->
                    <div class="top-social">
                        <li class="qq"><a href="http://wpa.qq.com/msgrd?v=3&uin=945203919&site=qq&menu=yes"
                                          target="_blank" rel="nofollow"><img
                                        src="https://cdn.jsdelivr.net/gh/Zisbusy/Jsdelivr-CDN@master/Akina/3.4.3/usr/themes/Akina/images/qq.png"/></a>
                            <div class="qqInner">945203919</div>
                        </li>
                        <li class="qq"><a href="https://www.coolapk.com/u/3364017" target="_blank" rel="nofollow"><img
                                        src="https://cdn.jsdelivr.net/gh/Zisbusy/Jsdelivr-CDN@master/Akina/3.4.3/usr/themes/Akina/images/coolapk.png"/></a>
                            <div class="qqInner">子虚之人</div>
                        </li>
                        <li><a href="https://github.com/Zisbusy" target="_blank" rel="nofollow"
                               class="social-github"><img
                                        src="https://cdn.jsdelivr.net/gh/Zisbusy/Jsdelivr-CDN@master/Akina/3.4.3/usr/themes/Akina/images/github.png"/></a>
                        </li>
                        <li><a href="https://space.bilibili.com/86455197" target="_blank" rel="nofollow"
                               class="social-bilibili"><img
                                        src="https://cdn.jsdelivr.net/gh/Zisbusy/Jsdelivr-CDN@master/Akina/3.4.3/usr/themes/Akina/images/bilibili.png"/></a>
                        </li>
                    </div>
                </div>
            </div>
            <!-- 首页大图结束 -->
        </div>
        <div class=""></div>
        <div id="content" class="site-content">
            <!-- 判断是否搜索 -->
            <!-- 不是搜索显示主页 -->
            <!-- 顶部公告内容 -->
            <div class="notice">
                <i class="iconfont">&#xe607;</i>
                <div class="notice-content">
                    明天的你把昨天还给我。
                </div>
            </div>
            <!-- 聚焦内容 -->
            <div class="top-feature">
                <h1 class="fes-title">聚焦</h1>
                <div class="feature-content">

                    <li class="feature-1"><a href="https://zhebk.cn/Web/Akina.html">
                            <div class="feature-title"><span class="foverlay">Akina</span></div>
                            <img src="https://cdn.jsdelivr.net/gh/Zisbusy/Jsdelivr-CDN@master/Akina/3.4.3/usr/themes/Akina//images/feature/feature1.jpg"></a>
                    </li>
                    <li class="feature-2"><a href="https://zhebk.cn/Web/userAkina.html">
                            <div class="feature-title"><span class="foverlay">使用说明</span></div>
                            <img src="https://cdn.jsdelivr.net/gh/Zisbusy/Jsdelivr-CDN@master/Akina/3.4.3/usr/themes/Akina//images/feature/feature2.jpg"></a>
                    </li>
                    <li class="feature-3"><a href="https://zhebk.cn/archives.html">
                            <div class="feature-title"><span class="foverlay">文章归档</span></div>
                            <img src="https://cdn.jsdelivr.net/gh/Zisbusy/Jsdelivr-CDN@master/Akina/3.4.3/usr/themes/Akina//images/feature/feature3.jpg"></a>
                    </li>
                </div>
            </div>
            <!-- 主页内容 -->
            <div id="primary" class="content-area">
                <main id="main" class="site-main" role="main">
                    <h1 class="main-title">近况</h1>
                    <!-- 结束搜索判断 -->
                    <!-- 开始文章循环输出 -->
                    <article class="post post-list" itemscope="" itemtype="http://schema.org/BlogPosting">
                        <!-- 判断文章输出样式 -->
                        <div class="post-entry">
                            <div class="feature">
                                <a href="https://zhebk.cn/Web/Akina.html">
                                    <div class="overlay"><i class="iconfont">&#xe61e;</i></div>
                                    <img src="https://image.zhebk.cn/Akina.jpg?imageView2/1/w/100/h/100/interlace/1/q/90"></a>
                            </div>
                            <h1 class="entry-title"><a href="https://zhebk.cn/Web/Akina.html"><span
                                            style='color:#ff6d6d;font-weight:600'>[置顶] </span>Akina for Typecho 主题模板</a>
                            </h1>
                            <div class="p-time">
                                <i class="iconfont">&#xe604;</i> 2018-10-15<i class='iconfont hotpost'
                                                                              style='margin-left: 5px;'>&#xe618;</i>
                            </div>
                            <p>简介Akina for Typecho除了原本Akina的特性外，加入了DNS预解析，或许可以加快站点的访问速度。支持了无插件的代码高...</p>
                            <!-- 文章下碎碎念 -->
                            <footer class="entry-footer">
                                <div class="post-more">
                                    <a href="https://zhebk.cn/Web/Akina.html"><i class="iconfont">&#xe61c;</i></a>
                                </div>
                                <div class="info-meta">
                                    <div class="comnum">
                                        <span><i class="iconfont">&#xe610;</i><a href="https://zhebk.cn/Web/Akina.html">350条评论</a></span>
                                    </div>
                                    <div class="views">
                                        <span><i class="iconfont">&#xe614;</i> 36002 热度</span>
                                    </div>
                                </div>
                            </footer>
                        </div>
                        <hr>
                    </article>
                    <article class="post post-list" itemscope="" itemtype="http://schema.org/BlogPosting">
                        <!-- 判断文章输出样式 -->
                        <div class="post-entry">
                            <div class="feature">
                                <a href="https://zhebk.cn/Android/git.html">
                                    <div class="overlay"><i class="iconfont">&#xe61e;</i></div>
                                    <img src="https://image.zhebk.cn/20-07-05-00.jpg?imageView2/1/w/100/h/100/interlace/1/q/90"></a>
                            </div>
                            <h1 class="entry-title"><a href="https://zhebk.cn/Android/git.html">Git安装使用</a></h1>
                            <div class="p-time">
                                <i class="iconfont">&#xe604;</i> 2020-7-6
                            </div>
                            <p>总觉得git这东西太复杂了，也或许是我没这方面的需求，包括Akina的项目我都是通过Github的网页上传的。一般修bug的流程如下：...</p>
                            <!-- 文章下碎碎念 -->
                            <footer class="entry-footer">
                                <div class="post-more">
                                    <a href="https://zhebk.cn/Android/git.html"><i class="iconfont">&#xe61c;</i></a>
                                </div>
                                <div class="info-meta">
                                    <div class="comnum">
                                        <span><i class="iconfont">&#xe610;</i><a
                                                    href="https://zhebk.cn/Android/git.html">NOTHING</a></span>
                                    </div>
                                    <div class="views">
                                        <span><i class="iconfont">&#xe614;</i> 117 热度</span>
                                    </div>
                                </div>
                            </footer>
                        </div>
                        <hr>
                    </article>
                    <article class="post post-list" itemscope="" itemtype="http://schema.org/BlogPosting">
                        <!-- 判断文章输出样式 -->
                        <div class="post-entry">
                            <div class="feature">
                                <a href="https://zhebk.cn/Android/ESP8266-RGB.html">
                                    <div class="overlay"><i class="iconfont">&#xe61e;</i></div>
                                    <img src="https://image.zhebk.cn/20-06-03-00.jpg?imageView2/1/w/100/h/100/interlace/1/q/90"></a>
                            </div>
                            <h1 class="entry-title"><a href="https://zhebk.cn/Android/ESP8266-RGB.html">ESP8266+WS2812
                                    制作智能RGB氛围灯</a></h1>
                            <div class="p-time">
                                <i class="iconfont">&#xe604;</i> 2020-6-5
                            </div>
                            <p>准备材料：ESP8266 （ESP-01S）ESSP8266的烧录器8位WS2812 RGB灯降压模块供ESP8266的3.3v锂电池...</p>
                            <!-- 文章下碎碎念 -->
                            <footer class="entry-footer">
                                <div class="post-more">
                                    <a href="https://zhebk.cn/Android/ESP8266-RGB.html"><i class="iconfont">&#xe61c;</i></a>
                                </div>
                                <div class="info-meta">
                                    <div class="comnum">
                                        <span><i class="iconfont">&#xe610;</i><a
                                                    href="https://zhebk.cn/Android/ESP8266-RGB.html">4条评论</a></span>
                                    </div>
                                    <div class="views">
                                        <span><i class="iconfont">&#xe614;</i> 454 热度</span>
                                    </div>
                                </div>
                            </footer>
                        </div>
                        <hr>
                    </article>
                    <article class="post post-list" itemscope="" itemtype="http://schema.org/BlogPosting">
                        <!-- 判断文章输出样式 -->
                        <div class="post-entry">
                            <div class="feature">
                                <a href="https://zhebk.cn/Web/Vue-cli.html">
                                    <div class="overlay"><i class="iconfont">&#xe61e;</i></div>
                                    <img src="https://image.zhebk.cn/20-05-23-2.png"></a>
                            </div>
                            <h1 class="entry-title"><a href="https://zhebk.cn/Web/Vue-cli.html">搭建Vue脚手架以及创建项目</a></h1>
                            <div class="p-time">
                                <i class="iconfont">&#xe604;</i> 2020-5-23
                            </div>
                            <p>知识背景什么是node.jsnodo.js式基于chrome v8的js运行环境使js可以当作一门后端语言特征：基于事件驱动，非阻塞式...</p>
                            <!-- 文章下碎碎念 -->
                            <footer class="entry-footer">
                                <div class="post-more">
                                    <a href="https://zhebk.cn/Web/Vue-cli.html"><i class="iconfont">&#xe61c;</i></a>
                                </div>
                                <div class="info-meta">
                                    <div class="comnum">
                                        <span><i class="iconfont">&#xe610;</i><a
                                                    href="https://zhebk.cn/Web/Vue-cli.html">NOTHING</a></span>
                                    </div>
                                    <div class="views">
                                        <span><i class="iconfont">&#xe614;</i> 435 热度</span>
                                    </div>
                                </div>
                            </footer>
                        </div>
                        <hr>
                    </article>
                    <article class="post post-list" itemscope="" itemtype="http://schema.org/BlogPosting">
                        <!-- 判断文章输出样式 -->
                        <div class="post-entry">
                            <div class="feature">
                                <a href="https://zhebk.cn/Web/gongan.html">
                                    <div class="overlay"><i class="iconfont">&#xe61e;</i></div>
                                    <img src="https://image.zhebk.cn/bg2.jpg?imageView2/1/w/100/h/100/interlace/1/q/90"></a>
                            </div>
                            <h1 class="entry-title"><a href="https://zhebk.cn/Web/gongan.html">公安联网备案记录</a></h1>
                            <div class="p-time">
                                <i class="iconfont">&#xe604;</i> 2020-4-16<i class='iconfont hotpost'
                                                                             style='margin-left: 5px;'>&#xe618;</i>
                            </div>
                            <p>疫情期间为了能使用国内服务器进行frp内网穿透，给手头的另一个域名也进行了备案，这次的备案体验可以说的极好了。记得几年前还需要邮寄幕布...</p>
                            <!-- 文章下碎碎念 -->
                            <footer class="entry-footer">
                                <div class="post-more">
                                    <a href="https://zhebk.cn/Web/gongan.html"><i class="iconfont">&#xe61c;</i></a>
                                </div>
                                <div class="info-meta">
                                    <div class="comnum">
                                        <span><i class="iconfont">&#xe610;</i><a
                                                    href="https://zhebk.cn/Web/gongan.html">6条评论</a></span>
                                    </div>
                                    <div class="views">
                                        <span><i class="iconfont">&#xe614;</i> 1389 热度</span>
                                    </div>
                                </div>
                            </footer>
                        </div>
                        <hr>
                    </article>
                    <article class="post post-list" itemscope="" itemtype="http://schema.org/BlogPosting">
                        <!-- 判断文章输出样式 -->
                        <div class="post-entry">
                            <div class="feature">
                                <a href="https://zhebk.cn/Z-Turn/N2800-nas.html">
                                    <div class="overlay"><i class="iconfont">&#xe61e;</i></div>
                                    <img src="https://image.zhebk.cn/20-03-01-1.jpg?imageView2/1/w/100/h/100/interlace/1/q/90"></a>
                            </div>
                            <h1 class="entry-title"><a href="https://zhebk.cn/Z-Turn/N2800-nas.html">N2800安装黑群晖6.2.2</a>
                            </h1>
                            <div class="p-time">
                                <i class="iconfont">&#xe604;</i> 2020-3-1<i class='iconfont hotpost'
                                                                            style='margin-left: 5px;'>&#xe618;</i></div>
                            <p>上一个Gi945太坑了，cpu居然是32位，好多大胆的想法都没法实现，卖了回血后又购入了这个N2800，https://zhebk.c...</p>
                            <!-- 文章下碎碎念 -->
                            <footer class="entry-footer">
                                <div class="post-more">
                                    <a href="https://zhebk.cn/Z-Turn/N2800-nas.html"><i
                                                class="iconfont">&#xe61c;</i></a>
                                </div>
                                <div class="info-meta">
                                    <div class="comnum">
                                        <span><i class="iconfont">&#xe610;</i><a
                                                    href="https://zhebk.cn/Z-Turn/N2800-nas.html">3条评论</a></span>
                                    </div>
                                    <div class="views">
                                        <span><i class="iconfont">&#xe614;</i> 2299 热度</span>
                                    </div>
                                </div>
                            </footer>
                        </div>
                        <hr>
                    </article>
                    <article class="post post-list" itemscope="" itemtype="http://schema.org/BlogPosting">
                        <!-- 判断文章输出样式 -->
                        <div class="post-entry">
                            <div class="feature">
                                <a href="https://zhebk.cn/Android/R1gujian.html">
                                    <div class="overlay"><i class="iconfont">&#xe61e;</i></div>
                                    <img src="https://cdn.jsdelivr.net/gh/Zisbusy/Jsdelivr-CDN@master/Akina/3.4.3/usr/themes/Akina/images/random/deu4.jpg"></a>
                            </div>
                            <h1 class="entry-title"><a href="https://zhebk.cn/Android/R1gujian.html">斐讯R1音箱固件</a></h1>
                            <div class="p-time">
                                <i class="iconfont">&#xe604;</i> 2020-1-23<i class='iconfont hotpost'
                                                                             style='margin-left: 5px;'>&#xe618;</i>
                            </div>
                            <p>说明如果你曾经上了斐讯的贼车，刷入固件可以改善使用体验，但是现在R1及其不推荐购买，一顿折腾下来成本还不如买一个小爱。固件分为普通版和...</p>
                            <!-- 文章下碎碎念 -->
                            <footer class="entry-footer">
                                <div class="post-more">
                                    <a href="https://zhebk.cn/Android/R1gujian.html"><i
                                                class="iconfont">&#xe61c;</i></a>
                                </div>
                                <div class="info-meta">
                                    <div class="comnum">
                                        <span><i class="iconfont">&#xe610;</i><a
                                                    href="https://zhebk.cn/Android/R1gujian.html">34条评论</a></span>
                                    </div>
                                    <div class="views">
                                        <span><i class="iconfont">&#xe614;</i> 35156 热度</span>
                                    </div>
                                </div>
                            </footer>
                        </div>
                        <hr>
                    </article>
                    <!-- 结束文章循环输出 -->
                    <!-- 翻页按钮 -->
                    <nav class="navigator">

                        <i class="navnumber">1 / 6</i>
                        <a class="next" title="" href="https://zhebk.cn/page/2/"><i class="iconfont">&#xe60f;</i></a>
                    </nav>
                </main>
                <div id="pagination"><a class="next" title="" href="https://zhebk.cn/page/2/">加载更多</a></div>
            </div>
        </div>
        <!-- 结束主页内容 -->
    </div>
</section>
<!-- 页底信息 -->
<footer id="colophon" class="site-footer" role="contentinfo">
    <!-- 请尊重作者！至少保留主题名称及其超链接，谢谢！ -->
    <div id="footer" class="site-info">Copyright © 2020 by <a href="https://zhebk.cn/" target="_blank" rel="nofollow">纸盒博客</a>
        . All rights reserved.<span class="sep"> | </span>Theme: <a href="https://zhebk.cn/Web/Akina.html"
                                                                    target="_blank" rel="nofollow">Akina For Typecho</a>.
        <div class="footertext">
            <p><a href="http://www.beian.miit.gov.cn/" target="_blank" rel="nofollow">豫ICP备16039898号-1</a></p>

            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=41031102000212"
               style="display:inline-block;" rel="nofollow noopener noreferrer">
                <img src="https://cdn.jsdelivr.net/gh/Zisbusy/Jsdelivr-CDN@master/Akina/3.4.3/usr/themes/Akina/images/gongan.png"
                     style="float:left;">
                <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px;">豫公网安备41031102000212号</p>
            </a>
        </div>
    </div>
</footer>
<div id="mo-nav">
    <div class="m-avatar">
        <img src="https://cdn.jsdelivr.net/gh/Zisbusy/Jsdelivr-CDN@master/img/akinadeaava.jpg">
    </div>
    <div class="m-search">
        <form class="m-search-form" method="post" action="" role="search">
            <input class="m-search-input" type="search" name="s" placeholder="搜索...">
        </form>
    </div>
    <ul id="nav_menu" class="menu">
        <li class="current-menu-item"><a href="/">首页</a></li>
        <li><a href="#">分类</a>
            <ul class="sub-menu">
                <li><a href="https://zhebk.cn/category/Android/">Android</a></li>
                <li><a href="https://zhebk.cn/category/Z-Turn/">Z-Turn</a></li>
                <li><a href="https://zhebk.cn/category/Web/">Web</a></li>
                <li><a href="https://zhebk.cn/category/Life/">Life</a></li>
            </ul>
        </li>
        <li><a href="#">更多</a>
            <ul class="sub-menu">
                <li><a href="https://zhebk.cn/archives.html">文章归档</a></li>
                <li><a href="https://zhebk.cn/about.html">关于</a></li>
                <li><a href="https://zhebk.cn/message.html">留言</a></li>
                <li><a href="https://zhebk.cn/links.html">邻居</a></li>
            </ul>
        </li>
    </ul>
</div>
<!-- 搜索 -->
<form class="js-search search-form search-form--modal" method="post" action="" role="search">
    <div class="search-form__inner">
        <div>
            <p class="micro mb-">你想搜索什么...</p>
            <i class="iconfont">&#xe6f0;</i>
            <input class="submit" type="search" name="s" placeholder="Search...">
        </div>
    </div>
</form>
<!-- 搜索结束 -->
<script type="text/javascript">
    var app = {"pjax": ""};
    var theurl = "https://cdn.jsdelivr.net/gh/Zisbusy/Jsdelivr-CDN@master/Akina/3.4.3/usr/themes/Akina/";
    if (!!window.ActiveXObject || "ActiveXObject" in window) { //is IE?
        alert('请抛弃万恶的IE系列浏览器吧。');
    }
    //判断下拉加载
    var xl = "1";</script>

<script type="text/javascript"
        src="https://cdn.jsdelivr.net/gh/Zisbusy/Jsdelivr-CDN@master/Akina/3.4.3/usr/themes/Akina/js/jquery.min.js"></script>
<script type="text/javascript"
        src="https://cdn.jsdelivr.net/gh/Zisbusy/Jsdelivr-CDN@master/Akina/3.4.3/usr/themes/Akina/js/jquery.preloader.js"></script>
<script type="text/javascript"
        src="https://cdn.jsdelivr.net/gh/Zisbusy/Jsdelivr-CDN@master/Akina/3.4.3/usr/themes/Akina/js/jquery.pjax.js"></script>
<script type="text/javascript"
        src="https://cdn.jsdelivr.net/gh/Zisbusy/Jsdelivr-CDN@master/Akina/3.4.3/usr/themes/Akina/js/baguetteBox.min.js"></script>
<script type="text/javascript"
        src="https://cdn.jsdelivr.net/gh/Zisbusy/Jsdelivr-CDN@master/Akina/3.4.3/usr/themes/Akina/js/global.js"></script>
<script type="text/javascript"
        src="https://cdn.jsdelivr.net/gh/Zisbusy/Jsdelivr-CDN@master/Akina/3.4.3/usr/themes/Akina/js/prism.js"></script>
<script type="text/javascript"
        src="https://cdn.jsdelivr.net/gh/Zisbusy/Jsdelivr-CDN@master/Akina/3.4.3/usr/themes/Akina/js/SmoothScroll.js"></script>
</body>
</html>
