{{ define "boundless-ui/head" }}
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <meta charset="UTF-8">
    <meta name="keywords" content="{{ .blogVars.SiteKeywords }}">
    <meta name="description" content="{{ .blogVars.SiteDesc }}">
    <link rel="preconnect" href="https://gcore.jsdelivr.net">
    <link rel="preconnect" href="https://npm.elemecdn.com">
    <link rel="shortcut icon" href="{{ .blogVars.SiteLogo }}">
    <title>{{ if .subTitle }}{{ .subTitle }} - {{ end }}{{ .blogVars.SiteName }}</title>
    <!--全局 CSS-->
    <link rel="stylesheet"
          href="{{ .blogVars.StaticRootPath }}/resources/themes/{{ .blogVars.Theme }}/static/css/global.css">
    <link rel="stylesheet"
          href="{{ .blogVars.StaticRootPath }}/resources/themes/{{ .blogVars.Theme }}/static/css/pace-theme-flash.css">
    {{/*            <link rel="stylesheet" href="{{ .blogVars.StaticRootPath }}/resources/themes/{{ .blogVars.Theme }}/static/css/d-audio.css">*/}}
    {{/*    <link rel="stylesheet" href="{{ .blogVars.StaticRootPath }}/resources/themes/{{ .blogVars.Theme }}/static/css/myPagination.css">*/}}
    {{/*    <link rel="stylesheet" href="{{ .blogVars.StaticRootPath }}/resources/themes/{{ .blogVars.Theme }}/static/css/index.css">*/}}
    {{/*    <link rel="stylesheet" href="{{ .blogVars.StaticRootPath }}/resources/themes/{{ .blogVars.Theme }}/static/css/article-detail.css">*/}}
    {{/*    <link rel="stylesheet" href="{{ .blogVars.StaticRootPath }}/resources/themes/{{ .blogVars.Theme }}/static/css/github.css">*/}}
    {{/*    <link rel="stylesheet" href="{{ .blogVars.StaticRootPath }}/resources/themes/{{ .blogVars.Theme }}/static/css/link.css">*/}}
    <style rel="stylesheet">
        .lazy-image {
            background: url('{{ .blogVars.StaticRootPath }}/resources/themes/boundless-ui/static/img/loading.gif') no-repeat center;
            background-size: 26% 35%;
            height: 100%;
            width: 100%;
        }
    </style>
    {{ safe .blogVars.GlobalHeader }}
{{ end }}