{{ define "xue/category-list.tmpl" }}
    <!DOCTYPE html>
    <html lang="zh-cmn-Hans">
    {{ template "xue/head" . }}
    <body>
    {{ template "xue/menu" . }}

    <main class="mx-auto home-page" id="container">
        <header class="bg-cover post-cover">
            <div class="cover-bg">
                <img src="https://bu.dusays.com/2022/05/03/6270f5b89d882.jpg" class="z-auto"
                     alt="{{ .subTitle }}">
            </div>
            <div class="cover-content flex justify-center">
                <!-- 封面内容 -->
                <div class="inner flex flex-col justify-center">
                    <p class="cover-title text-base md:text-4xl lg:text-4xl xl:text-5xl">{{ .subTitle }}</p>
                </div>
            </div>
        </header>
        <div class="container mx-auto px-4 mt-16 max-w-6xl tracking-wider md:leading-relaxed sm:leading-normal ct-container cn-pd content-container">
            <h2>分类</h2>
            <p class="flex flex-row justify-start flex-wrap">
                {{ range $category := .categories }}
                    <a href="{{ $.blogVars.ContextPath }}/categories/{{ $category.Url }}"
                       class="post-tag mt-2 mb-2 mr-2">{{ $category.Name }}
                        <span class="tag-length">{{ $category.Count }}</span>
                    </a>
                {{ end }}
            </p>
            <h2 style="margin-bottom: 0;">云</h2>
            <div id="categoryCloud" class="card-content jqcloud jqcloud-hg"></div>
        </div>
    </main>

    {{ template "xue/footer" . }}

    {{ template "xue/script" . }}
    </body>
    </html>
{{ end }}